<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1 {
            color: red;
        }
    </style>
</head>

<body>
    <%-include('comman/header');%>
    <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, harum!</h1>
</body>

</html>

<!-- const express=require('express');
const app=express();
app.set('view engine','ejs')


app.get("/profile",(_,res)=>{
const user={
name:'nahe singh',
roll:28,
scholl:"middle schol hosir",
skills:['php','js','c++','java']
}
res.render("profile", { user })
})
app.listen(5000); -->